<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137794670-1');
    </script>
    
   

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">
    
    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>
<body onload='load_page_de()' >
<div id="page_header"></div>    
<div class="container margin-from-header">
    <div class="about-text-container">
        <h4>About Newground</h4>
        <p>NewGround LLC is a software development company with a product and R&amp;D departments based in Ukraine. We've been operating since 1999.
NewGround has a breadth of experience successfully handling a variety of challenges including large-scale projects and successfully releasing our own and our clients’ products. We've learned from these experiences and we bring that experience with us to each new project. We are a team of 60 experienced developers, specialized in Java, Scala, #.NET, IOS and Android, R&amp;D, Machine Learning, AI Engineering.</p>
        <h4>Our Markets and Our Expertise</h4>
        <ul>
            <li>AI Engineering</li>
            <li>Medicine</li>
            <li>Automated systems for logistics companies and organizations</li>
            <li>Geo Information Systems supporting Transport Authorities</li>
            <li>CRM Solutions</li>
            <li>ERP applications</li>
            <li>Rapid Application Development platforms</li>
            <li>Mobile applications</li>
            <li>Digital media solutions</li>
            <li>Cloud Computing</li>
        </ul>
        <h4>Our Technological Experience:</h4>
        <ul>
            <li>19 years of experience in Java</li>
            <li>7 years of experience in Scala</li>
            <li>19 years of experience in .NET</li>
            <li>19 years of experience in R&amp;D, Machine Learning, AI Engineering</li>
            <li>8 years of experience in IOS and Android</li>
        </ul>
        <h4>Our own products</h4>
        <ul>
            <li>Mobile applications. For automotive financing services involving credit and maintenance plans, tracking apps for transport industry and up to 50 mobile games.</li>
            <li>Interactive solutions. 3D mapping, Interactive maps for multi touch surface, Interactive stands for advertising and event agencies.
Bluetooth solutions for media and entertainment industry.</li>
            <li>AI frameworks</li>
        </ul>
        <h4>Where we've been challenged and succeeded</h4>
        <ul>
            <li>Highly loaded, 24/7, live system</li>
            <li>Big government projects</li>
            <li>Complex geo Information Systems</li>
        </ul>
    </div>
    <div class="row positions block-item text-center">
        <h2 class="block-caption">Open positions</h2>
        <p class="block-caption-text">Join us to make great projects together</p>
    </div>
    <div class="row work-area block-item">
        <div class="col-md-4 no_padding">
            <div class="single-image">
                <img src="../images/job_dev.jpg">
                <div class="image_overlay">
                    <h2>Mobile App</h2>
                    <h4>IOS/Android</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 no_padding">
            <div class="single-image">
                <img src="../images/job_dev1.jpg">
                <div class="image_overlay">
                    <h2>Enterprise Solution</h2>
                    <h4>Using new Frameworks</h4>
                </div>
            </div>
        </div>
        <div class="col-md-4 no_padding">
            <div class="single-image">
                <img src="../images/job_dev2.jpg">
                <div class="image_overlay">
                    <h2>GEO</h2>
                    <h4>New Transport Application</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contacts_form"></div>
<div id="page_footer"></div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
<script src="../js/script.js"></script>
<script>
    $(function(){
        $("#page_header").load("header.html");
        $("#page_footer").load("footer.html");
        $("#contacts_form").load("contacts_form.html");
    });
</script>
</body>
</html>