<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137794670-1');
    </script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">
    
    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="page_header"></div>
    
    <div class="container text-center margin-from-header">
        <div class="row block-item">
            <h2 class="block-caption">B2B CRM platform for Financial Markets</h2>
        </div>
    </div>
    <div class="container text-center work-area">
        <div class="row block-item">
            <div class="col-md-6 text-center no_padding">
                <div class="single-image">
                    <img src="../images/case_thumb_big_1.jpg">
                </div>
            </div>
            <div class="col-md-6 text-left">
                <h4>Mission</h4>
                <p>Developed, tested and maintained B2B CRM platform for financial market, web and IPad versions.</p>
                <p>Complete CRM system was created, sold to a number of clients, and is being supported and continually improved.</p>
                <p>Specialized Complete CRM for investment companies and personal use.</p>
                <p>CRM covers activities for Investment Managers, Hedge Funds, Funds of Hedge Funds, Private Equity, Family Office, Pension Funds.</p>
                
                <h4>Technologies</h4>
                <p>.Net Framework, C#, React, Dev Express, MS SQL, iOS</p>
            </div>
            
        </div>
        <div class="row block-item">
            
        </div>
    </div>

    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function(){
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>
</html>