<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137794670-1');
    </script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">
    
    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="page_header"></div>
    
    <div class="container text-center margin-from-header">
        <div class="row block-item">
            <h2 class="block-caption">Customized e-Government and B2B, B2C CRM</h2>
        </div>
    </div>
    <div class="container text-center work-area">
        <div class="row block-item">
            <div class="col-md-6 text-center no_padding">
                <div class="single-image">
                    <img src="../images/case_thumb_big_2.jpg">
                </div>
            </div>
            <div class="col-md-6 text-left">
                <h4>Mission</h4>
                <p>We developed, tested and maintained Customized e-Government and B2B, B2C Customer Relationship Management solutions system.</p>
                <p>Based on Rapid Development Platform (developed by us), a number of customized CRM systems were developed, integrated and are currently supported by us for government institutions as well as for businesses.</p>
                <p>We support the core of the system along with R&amp;D processes, including the development of new CRM modules and improvements on existing ones.</p>
                <p>One of the plug-ins developed allows users to export data from the format in which the data is stored in the system over to CSV or Excel.</p>
                <p>NewGround is involved in the creation and expansion of the CRM, which is used in many government agencies in many countries (mostly European) and many large companies.</p>
                
                <h4>Technologies</h4>
                <p>VS.NET, C#, XML, WCF, WPF, ASP.NET, SQL Server, TSQL, .NET Framework</p>
            </div>
            
        </div>
        <div class="row block-item">
            
        </div>
    </div>

    <div id="contacts_form"></div>
    <div id="page_footer"></div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function(){
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
            $("#contacts_form").load("contacts_form.html");
        });
    </script>
</body>
</html>