<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137794670-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-137794670-1');
    </script>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewGround</title>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../css/style.css" rel="stylesheet">
    
    <!-- The favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#1f6fa4">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
    <div id="page_header"></div>
    <div class="container text-center margin-from-header">
        <div class="row block-item">
            <h2 class="block-caption">Get in touch</h2>
            <p class="block-caption-text">Discuss your project with us</p>
        </div>
        <!--div class="row block-item">
            <div class="col-md-12">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfDXEUUReVT25euoeU8G-3gVCcBhQoNeUMVtQEkONuhA7bxOA/viewform?embedded=true" width="340" height="940" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>
        </div-->
    </div>
    <div class="container block-item text-center ">
        <div class="row contacts">
            <div class="col-md-12">
                <img src="../images/contacts_icon_usa.png">
                <h2>USA</h2>
                <p>Yevheniy Rodin</p>
                <p>+1 (206) 401-7553</p>
                <p>rodin@newgroundadvancedresearch.com</p>
                <p>Two Union Square 601 Union St, Seattle, WA 98101</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="block-caption">Looking forward to hearing from you!</h3>
            </div>
        </div>
    </div>
    
    <div id="page_footer"></div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.4/jquery.nicescroll.min.js"></script>
    <script src="../js/script.js"></script>
    <script>
        $(function(){
            $("#page_header").load("header.html");
            $("#page_footer").load("footer.html");
        });
    </script>
</body>
</html>
