<header style="background-position: 50% -125px;">
  <div  class="section_overlay">
    <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand js-scroll-trigger" href="http://www.newgroundadvancedresearch.com" target="_blank"><img
              src="../images/logo.png" alt="Logo" width="220px" height="42px"></a>

        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../../index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="../../index.html#PORTFOLIO">Portfolio</a>
            </li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="solutions.html">Solutions</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="cases.html">Cases</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="about.html">About</a></li>
            <li class="nav-item"><a class="nav-link js-scroll-trigger" href="contact.html">Contact</a></li>
            <li class="nav-item"><a onclick='loc_url_eng()' class="nav-link js-scroll-trigger" href="#"><img
                  src="/resources/images/country_icon_aus.svg " alt="Deutch"></a></li>
          </ul>

        </div><!-- /.navbar-collapse -->

      </div><!-- /.container -->
    </nav>
  </div>
  <script >
    
    let language = window.navigator.language;
    var k = window.location.pathname.split('/');
    var page = k[k.length - 1].split('.');
    var v = "../views_de/";

    if (loc_url_eng) {
      
    }else if (language == 'de' && k != ",resources,views_de," + page[0] + ".html") {
        if (k == ",index.html") {
            v = " ";
            location.href = v + page[0] + ".html";
        }
        location.href = v + page[0] + ".html";
    }
  </script>

</header>